body {
    font-family: "Times New Roman", Times, serif; 
    font-size: 16px; 
    margin: 0;
    padding: 0;
    background-color: #100000; 
}

.container {
    max-width: 100%; /* Adjusted to fit the full width of the screen */
    margin: 20px auto; 
    padding: 20px;
    background-color: #bacdd1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-wrapper {
    margin: 25px auto; /* Adjusted for better spacing */
    text-align: center; 
}

h1 {
    margin-bottom: 30px; /* Reduced margin for better spacing */
    font-size: 50px; /* Reduced font size for better readability on small screens */
    font-style: italic; 
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.anova-btn {
    display: inline-block;
    background-color: #4554a0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px; /* Reduced font size for better readability on small screens */
    text-decoration: none;
    margin: 15px; /* Reduced margin for better spacing */
    transition: background-color 0.5s;
}

.anova-btn:hover {
    background-color: #333366; 
}

.gif-container {
    text-align: center;
    margin-top: 15px; /* Reduced margin for better spacing */
}

.gif {
    max-width: 90%; /* Adjusted to fit the width of the screen */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
}

footer {
    position: fixed; /* Fixed position to always appear at the bottom */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #e2e2e2;
    color: #000000;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    z-index: 999;
}

@media (min-width: 601px) {
    /* Styles for screens larger than 600px width */
    .container {
        max-width: 800px;
    }

    footer {
        position: absolute; /* Revert to absolute position for larger screens */
    }
}
